ul{
    margin: 10px;
    background-color: rgb(0, 64, 143);
    width: 400wh;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    text-align: center;
}

a{
    text-align: center;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    width: 100vh;
    height: 5vh;
    
    border-radius: 15px;
    background-color: rgb(0, 64, 143);

    color: rgb(255, 250, 250);
    border: 2px solid #82ffe6;

  
    transition: 0.3s;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a:hover, a:active  {background-color: rgb(0, 49, 108);}